{% extends 'base.html'%}
{% import 'macros.html' as macro%}


        {% block content %}
        <!-- Popular movie -->
        <h3> Popular News</h3>
        <ul>
            {{ macro.displaySourceList(popular)}}
        </ul>
        <!-- Upcoming movie  -->
        <h3> Business news </h3>
        <ul>
            {{ macro.displaySourceList(business)}}
        </ul>
        <!-- Now showing movie -->
        <h3>Sports news</h3>
        <ul>
            {{ macro.displaySourceList(sport)}}
        </ul>
        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        {% endblock %}
        
        {% endblock%}