{% macro displaySourceList(source_list) %}

    {% for source in source_list %}
    <div class='col-md-3 '>
        <div class='panel panel-default'>
            <div class="panel-header">
                <h3 class="text-info">{{source.name}}</h3>
            </div>
            <div class="panel-body">
                <p>{{source.description}}</p>
            </div>
            <div class="pane-footer">
                <li> <a href="/articles/{{ source.id}}"><button>Articles</button></a></li>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}

{% endmacro %}

{% macro displayArticleList(article_list) %}

<h1 class="text-center">ARTICLES</h1>
<div class="container">
    <div class="card-group">
        {% for article in article_list %}
        <div class="card" style="min-width: 25rem; max-width: 28rem; margin-top: 30px; margin-bottom: 30px;margin-right: 10px;">
            <img class="card-img-top" src="{{article.urlToImage}}" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">{{article.title}}</h3>
                <p class="card-text">{{article.description}}</p>
                <a href="{{article.url}}" class="btn btn-outline-primary"><button>OpenInWeb</button></a>
            </div>
            <div class="card-footer text-muted">
                <p>Published On: {{ article.publishedAt }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endmacro %}



